<div class="py-4 h-100 d-flex flex-column">
    <!-- START:Action row -->
    <div class="d-flex align-items-center justify-content-end">
        <!-- Search  -->
        <input class="form-control search-control w-auto me-3" type="text" placeholder="Search" id="searchQuery"
            (input)="onSearchQueryInput($event)" [formControl]="searchControl">
        <!-- Add button -->
        <button type="button" class="btn btn-primary" (click)="openColorForm()">
            <div class="d-flex align-items-center">
                <span class="icon-plus-solid pe-2"></span>
                <span class="ps-1">Add New</span>
            </div>
        </button>
    </div>
    <!-- END:Action row -->

    <!-- START:QUALITY LIST VIEW TABLE LOADER -->
    <div *ngIf="isColorLoading" class="mt-3 table-responsive" aria-hidden="true">
        <table class="table bordered table-hover">
            <thead>
                <tr>
                    <th scope="col" class="num-col">#</th>
                    <th scope="col">Color description</th>
                    <th scope="col">Color code</th>
                    <th scope="col" class="action-col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let yarnType of [1,2,3,4,5];let i = index;" class="placeholder-glow">
                    <td scope="row" class="num-col">
                        <span class="placeholder">
                            #
                        </span>
                    </td>
                    <td>
                        <span class="placeholder">
                            some color description
                        </span>
                    </td>
                    <td>
                        <span class="placeholder">
                            some color code
                        </span>
                    </td>
                    <td class="action-col">
                        <span class="placeholder">
                            action
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- END:QUALITY LIST VIEW TABLE LOADER -->
    <!-- START:QUALITY LIST VIEW -->
    <div *ngIf="colorList.length > 0 && !isColorLoading" class="mt-3 table-responsive">
        <table class="table bordered table-hover">
            <thead>
                <tr>
                    <th scope="col" class="num-col">#</th>
                    <th scope="col">Color description</th>
                    <th scope="col">Color code</th>
                    <th scope="col" class="action-col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let color of colorList;let i = index;trackBy: colorTrackBy">
                    <td scope="row" class="num-col">
                        <span>
                            {{i + 1 + (paginationMeta.per_page * (paginationMeta.current_page-1))}}
                        </span>
                    </td>
                    <td>
                        <span>
                            {{color?.color_desc ?color?.color_desc :'N/A'}}
                        </span>
                    </td>
                    <td>
                        <span>
                            {{color?.color_code ? color?.color_code :'N/A'}}
                        </span>
                    </td>
                    <td class="action-col">
                        <span class="icon-trash cursor-pointer" (click)="removeColorById(color)"></span>
                        <span class="icon-pen ms-3 cursor-pointer" (click)="openColorForm(color)"></span>
                    </td>
                </tr>
            </tbody>
        </table>

        <div *ngIf="paginationMeta.current_page" class="d-flex align-items-center justify-content-end">
            <app-paginator [totalPages]="paginationMeta.total_pages" [currentPage]="paginationMeta.current_page"
                [ellipses]="false" (pageChanged)="gotoPage($event)">
            </app-paginator>
        </div>
    </div>
    <!-- END:QUALITY LIST VIEW -->
    <!-- START: NO DATA SCREEN -->
    <div *ngIf="colorList.length === 0 && !isColorLoading"
        class="mt-3 flex-grow-1 d-flex flex-column align-items-center justify-content-center">
        <!-- image  -->
        <figure>
            <img class="no-data pe-3" src="../../../../assets/svgs/no_data.svg" alt="no-data-found" />
        </figure>
        <p class="fs-3">No Data Found</p>
        <small class="text-muted">Look's like you haven't added any data. no worries.</small>
        <small class="text-muted">Click the "Add New" button.</small>
        <!-- Add button -->
        <button type="button" class="btn btn-primary mt-3" (click)="openColorForm()">
            <div class="d-flex align-items-center">
                <span class="icon-plus-solid pe-2"></span>
                <span class="ps-1">Add New</span>
            </div>
        </button>
    </div>
    <!-- END: NO DATA SCREEN -->
</div>