// $primary: #377DFF;
$primary: #434ce6;
$secondary: #6c757d;
$warning : #FFA600;
$danger: #FF5630;
$sucess: #38CB89;
$white: #ffffff;
$black: #1A1D1F;

// $body-bg: #f5f5f5;
$border-color: #cdd2d8;

$main-bg: #fbfbfb;


//table
$table-header-bg: var(--bs-gray-300);
$table-heading: var(--bs-gray-700);
//for btn contrast color
$min-contrast-ratio: 3;

//nav 
$nav-hover-bg: #f8f8f8;
$nav-link-color: #6e6d7a;
$nav-link-hover-color: #0d0c22;

//form controls
$input-disabled-bg: #f9f9f9;

//tabs
$nav-tabs-link-active-color: $primary;
$nav-tabs-link-active-bg: $main-bg;

//pagination
$pagination-color: $black;
$pagination-disabled-color: #6e6d7a;
$pagination-bg: $main-bg;
$pagination-disabled-bg: $main-bg;