<div class="d-flex flex-column h-100 overflow-hidden">
    <app-horizontal-nav-menu [userProfile]="userProfile" [companyBranchList]="companyBranchList"
        [selectedBranch]="selectedBranch" (accountFlyout)="accountFlyout()"
        (closeAllFlyout)="this.flyout.closeFlyout();"></app-horizontal-nav-menu>
    <main class="main-warpper flex-grow-1 overflow-y-auto" [@FadeInOut]="o.isActivated ? o.activatedRoute : ''">
        <router-outlet #o="outlet"></router-outlet>
    </main>
    <app-flyout #flyout></app-flyout>
</div>