<!-- <div class="container pt-4">
    <h2 class="content-header-title text-center">Item Master</h2>

    <div class="container row">
        <div class="col-6">
            <div class="row">
                <div class="col-10">
                    <div class="mb-3 form-control-wrapper">
                        <label class="form-label">Item Name</label>
                        <input type="text" class="form-control" placeholder="Enter item name">
                        validation message 
                        <small class="validation-text">
                            Please enter hsn code.
                        </small>
                    </div>
                </div>
                <div class="col-10">
                    <div class="mb-3 form-control-wrapper">
                        <label class="form-label">Print Name</label>
                        <input type="text" class="form-control" placeholder="Enter print name">
                        validation message 
                        <small class="validation-text">
                            Please enter print name.
                        </small>
                    </div>
                </div>
                <div class="col-5">
                    <div class="mb-3 form-control-wrapper">
                        <label class="form-label">Unit</label>
                        <ng-select placeholder="Select unit">
                            <ng-option value="" disabled>Select Count Type</ng-option>
                        </ng-select>
                        <small class="validation-text">
                            Please enter print name.
                        </small>
                    </div>
                </div>
                START:Bar Code No
                <div class="col-5">
                    <div class="mb-3 form-control-wrapper">
                        <label class="form-label">Bar Code No</label>
                        <input type="text" class="form-control" placeholder="Enter bar code number">
                        validation message 
                        <small class="validation-text">
                            Please enter print name.
                        </small>
                    </div>
                </div>
                END:Bar Code No
            </div>
        </div>
    </div>

</div> -->

<div class="upperSlider">
    <!-- START:DRAWER HEADER -->
    <div class="upperSlider-header">
        <span class="upperSlider-title"> HSN</span>
        <span class="icon-xmark-solid fs-4 cursor-pointer" (click)="close()"></span>
    </div>
    <!-- END:DRAWER HEADER -->
    <!-- START:DRAWER BODY -->
    <div class="upperSlider-main">

    </div>
    <!-- END:DRAWER BODY -->
</div>