<section class="h-100 d-flex flex-column">
    <div class="form-header-wrapper">
        <div class="container">
            <span class="form-title">{{false?'Edit':'Add'}} Item</span>
            <span class="icon-mid icon-x fw-bold fs-4 cursor-pointer" (click)="close()"></span>
        </div>
    </div>
    <form class="flex-grow-1 container ">
        <div class="row pt-4">
            <div class="col-9 ">
                <div class="row">
                    <div class="col-6">
                        <div class="mb-3 form-control-wrapper">
                            <label class="form-label">Item Name</label>
                            <input type="text" class="form-control" placeholder="Enter item name">
                            <small class="validation-text">
                                Please enter hsn code.
                            </small>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="mb-3 form-control-wrapper">
                            <label class="form-label">Print Name</label>
                            <input type="text" class="form-control" placeholder="Enter print name">
                            <small class="validation-text">
                                Please enter print name.
                            </small>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="mb-3 form-control-wrapper">
                            <label class="form-label">Category</label>
                            <ng-select placeholder="Select unit">
                                <ng-option value="" disabled>Select Count Type</ng-option>
                            </ng-select>
                            <small class="validation-text">
                                Please enter print name.
                            </small>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="mb-3 form-control-wrapper">
                            <label class="form-label">Unit</label>
                            <ng-select placeholder="Select unit">
                                <ng-option value="" disabled>Select Count Type</ng-option>
                            </ng-select>
                            <small class="validation-text">
                                Please enter print name.
                            </small>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="mb-3 form-control-wrapper">
                            <label class="form-label">Group Name</label>
                            <ng-select placeholder="Select unit">
                                <ng-option value="" disabled>Select Count Type</ng-option>
                            </ng-select>
                            <small class="validation-text">
                                Please enter print name.
                            </small>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="mb-3 form-control-wrapper">
                            <label class="form-label">Use For</label>
                            <input type="text" class="form-control" placeholder="Enter item name">
                            <small class="validation-text">
                                Please enter hsn code.
                            </small>
                        </div>
                    </div>
                    <div class="col-6">
                        <!-- Empty -->
                    </div>
                </div>
            </div>
            <div class="col-3">
                <app-file-upload (filesSelected)="onFilesSelected($event)"></app-file-upload>
            </div>
        </div>
        <hr>
        <div class="row">
            <fieldset>
                <legend>IDENTIFICATION</legend>
                <div class="col-9">
                    <div class="row">
                        <div class="col-4">
                            <div class="mb-3 form-control-wrapper">
                                <label class="form-label">Bar Code No</label>
                                <input type="text" class="form-control" placeholder="Enter item name">
                                <small class="validation-text">
                                    Please enter hsn code.
                                </small>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="mb-3 form-control-wrapper">
                                <label class="form-label">Catalog No</label>
                                <input type="text" class="form-control" placeholder="Enter print name">
                                <small class="validation-text">
                                    Please enter print name.
                                </small>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="mb-3 form-control-wrapper">
                                <label class="form-label">Catalog No</label>
                                <input type="text" class="form-control" placeholder="Enter print name">
                                <small class="validation-text">
                                    Please enter print name.
                                </small>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="mb-3 form-control-wrapper">
                                <label class="form-label">Unit</label>
                                <ng-select placeholder="Select unit">
                                    <ng-option value="" disabled>Select Count Type</ng-option>
                                </ng-select>
                                <small class="validation-text">
                                    Please enter print name.
                                </small>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="mb-3 form-control-wrapper">
                                <label class="form-label">Group Name</label>
                                <ng-select placeholder="Select unit">
                                    <ng-option value="" disabled>Select Count Type</ng-option>
                                </ng-select>
                                <small class="validation-text">
                                    Please enter print name.
                                </small>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mb-3 form-control-wrapper">
                                <label class="form-label">Use For</label>
                                <input type="text" class="form-control" placeholder="Enter item name">
                                <small class="validation-text">
                                    Please enter hsn code.
                                </small>
                            </div>
                        </div>
                        <div class="col-6">
                            <!-- Empty -->
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="col-3">
            </div>
        </div>
    </form>
    <div>
        <!-- START:DRAWER FOOTER -->
        <div class="form-footer-wrapper">
            <div class="container">
                <button type="button" class="btn btn-secondary px-4" (click)="close()">Cancel</button>
                <button #saveBtn type="button" class="btn btn-primary btn px-4 ms-4">Save</button>
            </div>
        </div>
        <!-- END:DRAWER FOOTER -->
    </div>
</section>