%down-icon {
    content: " ";
    display: inline-block;
    border: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%236e6b7b' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-down'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 16px;
    color: #6e6b7b;
    width: 14px;
    height: 11px;
    position: relative;
    top: 1px;
    right: 0;
    left: 0.714rem;
    padding: 0;
    margin: 0;
    vertical-align: 0;
}

.dropdown {

    &:hover>.nav-link {
        background-color: #f8f8f8;
    }

    &:hover>.dropdown-container {
        display: block;
    }

}

.dropdown-link {
    font-size: 1.125rem;
}

.dropdown-container {
    z-index: 10001;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 215px;
    min-height: 52px;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 5px 25px rgb(34 41 47 / 10%);
    padding: 0.5rem 0;
    margin: 0;
    font-size: 1.125rem;
    text-align: left;
    background-color: white;

    & .dropdown-item {
        color: $nav-link-color;
        float: none;
        position: relative;
        font-size: 1rem;
        font-weight: 400;
        padding: 0.5rem 0.875rem;
        cursor: pointer;
        display: flex;
        align-items: center;
        flex-direction: row;
        flex: 1;
        transition: all 0.3s ease-in-out;
        display: block;
        text-transform: capitalize;

        &.active {
            color: $primary;
            background-color: rgb(245 245 245);

            &:hover {
                color: $primary;
            }
        }

        &:hover {
            color: $nav-link-hover-color;
            padding-left: 1.25rem;
            transition: all 0.3s ease-in-out;
            background-color: rgb(245 245 245);

            &>.dropdown-container {
                display: block;
                left: 100%;
                top: 0;
            }
        }
    }
}

.dropdown-toggle-down {
    position: relative;

    &::after {
        @extend %down-icon;
    }

    &.active::after {
        @extend %down-icon;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23377DFF' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-down'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
    }
}

.dropdown-toggle-right {
    position: relative;

    &::after {
        @extend %down-icon;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%236e6b7b' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-right'%3E%3Cpolyline points='9 18 15 12 9 6'%3E%3C/polyline%3E%3C/svg%3E");
        left: auto;
        position: absolute;
        top: 50%;
        margin-top: -7px;
        right: 1rem;
    }
}