<div class="px-4 w-100 border-bottom">
    <ul class="nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-link dropdown-toggle-down active">Master</a>

            <ul class="dropdown-container">
                <li class="dropdown-item">Refresh</li>
                <li class="dropdown-item">Settings</li>
                <li class="dropdown-item dropdown-toggle-right">
                    Help
                    <ul class="dropdown-container">
                        <li class="dropdown-item">Refresh</li>
                        <li class="dropdown-item">Settings</li>
                        <li class="dropdown-item dropdown-toggle-right">Help</li>
                        <li class="dropdown-item">Sign out</li>
                    </ul>
                </li>
                <li class="dropdown-item">Sign out</li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
        </li>
    </ul>
</div>