.main-warpper {
    background-color: $main-bg;
}

.content-header-title {
    font-weight: 500;
    padding-right: 1rem;
    color: $black;
    // border-right: 1px solid #d6dce1;
}

.no-data {
    height: 180px;
}