.nav {
    &-item {
        padding: $nav-item-padding-y $nav-item-padding-x;

        &:hover {
            .nav-link {
                color: $nav-link-hover-color;

                &.active {
                    background-color: $nav-active-bg;
                    color: $primary;
                }
            }
        }
    }

    &-link {
        border-radius: 4px;
        cursor: pointer;

        &.active {
            // background-color: #f0f4ff;
            background-color: #377dff17;
            color: $primary;
            font-weight: 600;
        }

        &:hover {
            background-color: $nav-hover-bg;
        }

    }
}